
@media screen and (min-width: 426px) {

/* Hero start */

/* Hero end */

/* Info start */
/* Info end */

/* Projects start */
  .portfolio {
    display: flex;
    justify-content: space-around;
    /* Make it 2 boxes per row only */
  }
/* Projects end */
}

@media screen and (min-width: 769px){
/* Hero start */

/* Hero end */

/* Info start */
/* Info end */

/* Projects start */
.portfolio {
  display: flex;
  justify-content: space-around;
  /* Unlimited boxes per row, depends on screen size */
  flex-wrap: wrap;
}
/* Projects end */
}