
@media screen and (min-width: 426px) {

/* Hero start */
  .social-header {
    font-size: 1.5rem;
  }

  .hero-text h1 {
    font-size: 4rem;
    padding-bottom: 3rem;
}

  .hero-text p,
  .hero-text a {
    font-size: 1.5rem;
    padding-bottom: 1.25rem;
  }
/* Hero end */

/* Info start */
/* Info end */

/* Projects start */
  .portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Make it 2 boxes per row only */
  }

  .project {
    flex: 1 1 300px;

  }
/* Projects end */

/* Contact start */
  .contact {
    display: flex;
    justify-content: space-around;
  }

  .in-touch,
  .message {
    width: 100%;
  }

  .in-touch {
    flex-direction: column;
    align-items: center;
  }

  .socials {
    justify-content: space-between;
  }

  .message {
    margin: 1rem 0;
  }

  .message form {
    margin: 0.5rem 2rem;
  }
/* Contact end */

}

@media screen and (min-width: 769px){
/* Hero start */
  .social-header {
    font-size: 2rem;
  }

  .hero-text h1 {
    font-size: 6rem;
  }

  .hero-text p,
  .hero-text a {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }
/* Hero end */

/* Info start */
/* Info end */

/* Projects start */
  .portfolio {
    display: flex;
    justify-content: space-around;
    /* Unlimited boxes per row, depends on screen size */
    flex-wrap: wrap;
  }
/* Projects end */
}