*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

/* allows a banner to be put on project pages to navigate back to the porfolio page. */
.back-banner {
  background-color: grey;
  text-decoration: none;
  color: black;
  text-align: center;
}

.back-banner a:visited {
  text-decoration: none;
  color: black;
}

/* Hero start */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.social-header {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0;
}

.social-header a {
  color: black;
}

.hero-text {
  position: absolute;
  text-align: center;
  margin: 1rem auto;
  width: 100%;
  top: 20%;
}

.hero-text h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.hero-text p {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.hero-text a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.hero-text a:hover {
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.5);
}
/* Hero end */

/* Info start */
.info {
  width: 100%;
  background-color: white;
  margin: 0;
}

.info-container {
  padding: 2rem;
}

.info-container h2 {
  padding-bottom: 1rem ;
}

.info-container p {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
/* Info end */

/* Portfolio start */
.portfolio-container {
  background-color: slategray;
}

.portfolio-container h3 {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.project {
  margin: 1rem;
  background-color: white;
}


.project img {
  width: 100%;
}

.project-info {
  padding: 1rem;
  position: relative;
}

.project-info p {
  padding-bottom: 0.5rem;
}

.project-info::before {
  content: "";
  position: absolute;
  width: 90%;
  top: 0;
  height: 0.5rem;
  border-bottom: 2px inset grey;
}

.project-info h4 {
  padding-bottom: 0.5rem;
}
/* Portfolio end */

/* Contact start */

.contact {
  background-color: slategray;
}

.copyright {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
/* Contact end */